@media (max-width: 1919px ) {
    .block{
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (max-width: 1680px ) {
    .block{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 1120px ) {
    .block{
        grid-template-columns: repeat(1, 1fr);
    }
}